*body{
    font-family: Poppins;
}
.pad15{
    padding-left: 5%;
    padding-right: 5%;

}

.rojo{
    color: #ff414d;
}

.fondorojo{
    background-color: #ff414d;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left: 1%;
}
.etiquetapequeña{
    background-color:lightgrey;
    color: grey;
    font-size: 10px;
    vertical-align: middle;
}


.spanpequeño{
    font-size:10px;
}
.alinearder{
    text-align: right;
}

.alinearizq{
text-align: left;
}

.nomargin{
    margin: 0px;
}
.nopad{
    padding: 0px;
}

.parrafo{
    font-size: 13px;
    color: gray;
}

.amarillo{
   color: #f0a500; 
}

.fondoamarillo{
    background-color: #f0a500;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left: 1%;
}

.morado{
  color: #794c74;
}

.fondomorado{
    background-color: #794c74;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left: 1%;
}

.lineasup{
    border-top: 1px solid lightgray;
    height: 2px;   
    padding: 0;
    margin: 20px auto 0 auto;
}

.linearder{
    border-right: 1px solid lightgray;
}

.lineaiz{
    border-left: 1px solid lightgray;

}
.backrosa{
    background-color: #fbdcc4;
}

